
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@700&display=swap');
/* for the titles use:
font-family: 'Rubik'*/
/* fot the body use:
font-family: 'Inter'*/

main{
  margin-left: 5rem;
  padding: 1rem;
}

.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #9ff1b7;
  padding-top: 20px;
  z-index: 1;
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.nav-section{
  display: flex;
  padding-top: 10px;
}

.navlink{
  display: flex;
  align-items: center;
  height: 5rem;
  color: hotpink;
  text-decoration: none;
  margin-top: 50rem,

}

.link-text{
  display: none;
  padding: 5px;
  margin-left: 1rem;
  margin-top: 23px;
}

.nav-link png{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: #36b185;
  color: white;
}

.navbar:hover{
  width: 16rem;
}

.navbar:hover .link-text{
  display: block;
}

body::-webkit-scrollbar {
  width: 0.0625in;
}

body::-webkit-scrollbar-track{
  background: #F2F6FE;
}

body::-webkit-scrollbar-thumb{
  background:#1E187B;
}

.icons{
  width: 50px;
  height: 50px;
}

/* * {
  box-sizing: border-box;
} */

body, html {
  margin: 0; 
  padding: 0; 
  font-family: 'Rubik';
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}


body {
 background-color: #F2F6FE;
 width: 100%;
 /* height: auto; */
 /* margin: 2em; */
}

.head-container {
  background-color:#1E187B;
  width: 100%;
  height: 160px;
  margin: 0px;
  margin-top: -40px;
  padding: 15px;
  float: left;
}

.header{
  background-color:#1E187B;
  font-weight: 300;
  color: white;
  font-size: 70px;
  font-family: 'Rubik';
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 30px;
  padding: 5px;
  width: 40%;
  /* float: left; */
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 100px;
  color: white;
  font-family: Rubik;
  margin-right: 0px;
  margin-left:0px;
  margin-top: 47px;
  align-items: center;
  background-color:#1E187B;
}

/* .nav-list{
  font-size: 20px;
  list-style-type: none;
}

.nav-list .listItem{
  display: inline-block;
  padding: 20px 15px;
}

.nav a{
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #9ff1b7
} */

/* h1 {
  font-family: 'Rubik'; background-color: #1E187B;
  text-align:center;
  font-weight: 300;
  color: white;
  font-size: 70px;
  width: 100%;
  height: 100%;
  
} */

.banner{
  margin:10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  overflow: auto;
  border-radius: 25px;
  /* background-image: url('https://images.pexels.com/photos/3810796/pexels-photo-3810796.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
}

img{
  /* margin: 0px; */
  height: 550px;
  width: 100%;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
}

.missionTitle{
  font-size: 68px;
  color: white;
  padding-left: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: rgb(59, 241, 183) 5px 3.66784px 0px;
}

.missionText{
  color: white;
  font-size: 30px;
  padding: 35px;
  padding-left: 70px;
  font-weight: 200;
}

.mission{
  padding: 10px;
  /* border: 2px solid black; */
  font-family: 'Inter';
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  margin-top: 10px;
  margin-bottom: 30px;
  height: auto;
  /* border-radius: 25px; */
  width: 100%;
  background-color: #7B1875;
  color: white;
}

p{
  padding-left: 10px;
  padding-right: 10px;
}

.rowHeader{
  display: flex;
  justify-content: space-around;
}

.resourcesColumn{ 
  display: flex;
  font-family: 'Rubik';
  font-size: 20px;
  text-align: center;
  /* background-image: linear-gradient(to bottom right, #7B1875, #B3AFEC); */
  background-image: linear-gradient(to bottom right, #36b185, #9ff1b7);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  justify-content: center;
  border-radius: 25px;
  transition: transform .2s;
  margin-left: 38px;
}

.biasColumn{ 
  display: flex;
  font-family: 'Rubik';
  font-size: 20px;
  text-align: center;
  /* background-image: linear-gradient(to bottom right, #7B1875, #B3AFEC); */
  background-image: linear-gradient(to bottom right, #36b185, #9ff1b7);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  justify-content: center;
  border-radius: 25px;
  transition: transform .2s;
  margin-left: 20px;
}

.careersColumn{ 
  display: flex;
  font-family: 'Rubik';
  font-size: 20px;
  text-align: center;
  /* background-image: linear-gradient(to bottom right, #7B1875, #B3AFEC); */
  background-image: linear-gradient(to bottom right, #36b185, #9ff1b7);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px;
  justify-content: center;
  border-radius: 25px;
  transition: transform .2s;
  margin-right: 28px;
}

.resourcesColumn:hover {
  transform: scale(1.5);
  background-color: white;
}

.biasColumn:hover {
  transform: scale(1.5);
  background-color: white;
}

.careersColumn:hover {
  transform: scale(1.5);
  background-color: white;
}

.columnRow{
  display: flex;
  justify-content: space-evenly;
}


.column{
  float: left;
  width: 27%;
  font-family: 'Inter';
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid white; */
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  border-radius: 25px;
  font-family: Rubik;
  color: white;
  background-color: #5B489C;
  /* background-color: #9789C4; */
  transition: transform .2s;
  text-align:center;
}

#shadow {
  border: none;
  padding: 0.625em;
  box-shadow: 0.625em 0.625em;
  border-radius: 25px;
  background-color: #5B489C;
  /* background-color: #9789C4; */
  
}

.column:hover {
  transform: scale(1.5);
}

.sub-resources{
  font-family: 'Inter';
  font-weight: 20px;
  letter-spacing: 3px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  /* margin-left: 30px; */
  background-color: #5B489C;
  color: white;
  border-radius: 20px;
  height: auto;
  padding: 10px;
  /* margin: 20px; */
  width: 30%;
  align-items:center;
}

.sub-resources2{
  font-family: 'Inter';
  font-weight: 20px;
  letter-spacing: 3px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  /* margin-left: 30px; */
  background-color: #5B489C;
  color: white;
  border-radius: 20px;
  height: auto;
  padding: 10px;
  /* margin: 20px; */
  width: 44%;
  align-items:center;
}

.camp-container {
  position: relative;
  float: left;
  cursor: pointer;
}

.camp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
    
}

.camp-container .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;

}

.camp-container:hover .hoverImg {
  display: flex;
}

.resourceRow1{
  display: flex;
  justify-content: space-evenly;
  
}

.resourceRow2{
  display: flex;
  justify-content: space-evenly;
  
}
.visit-button {
  position: absolute;
  display: flex; 
  justify-content: center;
  margin-left: auto; 
  margin-right: auto; 
  padding: 3px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  background-color: #5B489C;
  color: white;
  /* text-transform: uppercase; */
  font-size: 13px;
  border: none;
  cursor: pointer;
  width: 50%;
  /* margin: -50%; */
  margin-top: 70px; 
  letter-spacing: 7px;
  font-weight: 200;
}

.visit-button:hover {
  background-color: white;
  color:#5B489C;
  border: 4px solid #5B489C;
  border-radius: 20px;
}

#images {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.caption {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter'; 
  margin: 10px;
}

.section{
  padding: 10px;
  /* border: 2px solid black; */
  font-family: 'Inter';
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: auto; */
  /* border-radius: 25px; */
  width: 100%;
  height: 855px;
  background-color: #B3AFEC;
  color: white;
}

.section2{
  padding: 10px;
  /* border: 2px solid black; */
  font-family: 'Inter';
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: auto; */
  /* border-radius: 25px; */
  width: 100%;
  height: 1287px;
  background-color: #B3AFEC;
  color: white;
}

.section3{
  padding: 10px;
  /* border: 2px solid black; */
  font-family: 'Inter';
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: auto; */
  /* border-radius: 25px; */
  width: 100%;
  height: 804px;
  background-color: #B3AFEC;
  color: white;
}

  /* height: auto; */
  /* margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border: 2px solid black;
  background-color: white; */



.introText{
  font-size: 50px;
  text-align: left;
  color: white;
  padding-left: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  font-family: 'Rubik';
}

.sectionText {
  font-family: 'Inter';
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 50px;
  padding-left: 100px;
  text-decoration: none;
  color: white;
}

.biasText {
  font-family: 'Inter';
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 50px;
  margin-left: 40px;
  padding-left: 10px;
  margin-right: 40px;
  text-decoration: none;
  color: white;
}
.footer {
  background-color: #1E187B;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  font-family: inter;
  /* margin-top: 20px; */
  /* margin-bottom: 0px; */
/*I think it's the top margin*/
}

.footerEdit{
  list-style-type: none;
  color: white;
}

.footerEdit .footer-item{
  padding: 5px 10px;
  list-style-type: none;
  font-size: 12px;
}

.copyright{
  text-align: center;
}

#copyright{
  font-size: 10px;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
}

.copyIcon{
  height: 9px;
  width: 9px;
}

.icon{
  height: 24px;
  width: 24px;
}

strong{
  color: #9ff1b7;
}

/* ul{
  margin-bottom: 150px;
} */

a{
  color: rgb(73, 55, 131);
  text-decoration: none;
}



.prejudice{
  color: rgb(5, 5, 131);
  font-family:inter;
  font-weight: bold;
  font-size: 25px;
  margin-left: 0px;
  margin-right: 30px;
}

.careerss{
  font-family:inter;
  font-weight:bold;
}

.summerCamps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summerCamps7{
  margin-left: 19px;
}

.summerCamps6{
  margin-left: 9px;
}

.summerCamps5{
  margin-left: 18px;
}

.summerCamps4{
  margin-left: 10px;
  margin-top: 2px;
}